* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  min-height: 820px;
}
body{
  min-height: 820px;
}
#root{
  margin-top: 50px;
  min-height: 820px;
}
.cart-icon{
  color: whitesmoke;
  padding-right: 5px;
}
.cart-icon:hover{
  transform: scale(1.3);
  cursor: pointer;
}
.products-card {
  border-radius: 15px;
  transform: scale(0.8);
  transition: all .3s ease-in-out;
}
.card .card_img {
  margin-top: 3vw;
}
.img {
  width: 300px;
}
.product-btn {
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 35px;
  background-color: #2d343e;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color .3s ease;
  overflow: hidden;
}
.products-card:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: whitesmoke;
}
.products-card:hover .btn {
  background-color: #fe8033;
  color: #fff;
}
.product-container{
  margin-top: 100px;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
#login-container{
  margin-top: 120px;
  width: 450px;
  height: 100%;
}
#login-text{
  display: flex;
  margin-top: 10px;
}
#login-link{
  margin-left: 6px;
}
#submitBtn{
  width: 250px;
}
.reg-form{
  margin-top: 100px;
  width: 450px;
  cursor: pointer;
  height: 100%;
}
.profile-container{
  margin-top: 120px;
}
.footer-text{
  margin: 0;
  padding-left: 6px;
}
.quantityDisplay{
  padding-left: 6px;
  padding-right: 6px;
  margin: 10px;
  border: dimgray;
  border-style: solid;
}
.userProductView{
  margin-top: 100px;
}

.featured-container{
  min-height: 820px;
}
.shopNowButton{
  margin-top: 25px;
  width: 100%;
  font-size: 30px;
  font-weight: bolder;
  min-height: 50px;
  max-height: 75px;
}
.featuredButton{
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  font-size: 30px;
  font-weight: bolder;
  min-height: 50px;
  max-height: 75px;
}
.featuredButton:hover{
  cursor: auto;
}
.browseAllButton{
  margin-top: 100px;
  margin-bottom: 25px;
}
.card-title{
  margin-left: 15px;
  margin-top: 15px;
}
.offCanvasCard{
  margin-top: 50px;
  height: 400px;
}
.products-details-card{
  padding-bottom: 20px;
}
.counter{
  border-radius: 50px;
  border-color: white;
  padding: 5px;
}
#btn-menu{
  margin-left: 25px;
}
.social{
  margin-left: auto;
  margin-right: 20px;
  padding: 0;
  display: flex;
  height: 30px;
  width: 30px;
}
.product-img{
  max-height: 400px;
}
.checkout{
  margin-top: 100px;
}
.totalPrice{
  display: flex;
  justify-content: center;
}
.cart-container{
  margin-left: auto;
}
.profile-card{
  margin-top: 120px;
}
.profile{
  min-height: 40vh;
  padding-top: 30px;
}